/* Back */

#back {
	align-items: center;
	display: flex;	
}

#back-icon {
	margin-left: 40px;
	margin-right: 1em;
}

#back-text {
	font-size: 20px;
}

#back-text a {
	text-decoration: none;
}

#back-text a:visited {
	color: black;
	text-decoration: none;	
}

/* Cart */
#add_to_cart_btn {
	color: black;
	background-color: #FFFFFF; 
  	border: 2px solid black;
  	border-radius: 5px;
  	font-family: 'Poppins', sans-serif;
  	font-size: 16px;
	font-weight: 400;
	margin-left: 5.7em;
	text-align: center;
  	text-decoration: none;
	padding: 0.5em;
  	width: 40%; 	
}

#add_to_cart_btn_text {
	font-size: 20px;
}

#cart_btn_contents {
	align-items: center;
	display: flex;	
}

#cart-amount {
	display: inline;
}

#cart-image{
	padding-left: 1.5em;
}


/* Dropdowns */

#glazing_dropdown {
	font-family: 'Poppins', sans-serif;
	padding-right: 6em;	
}

#glazing_options {
	border: 1.25px solid black;
	border-radius: 5px;
	font-family: 'Poppins', sans-serif;
}


#locations_dropdown {
	float: right;
	font-family: 'Poppins', sans-serif;
	padding-right: 6em;
}

#locations_options {
	border: 1.25px solid black;
	border-radius: 5px;
	font-family: 'Poppins', sans-serif;
}


#quantity_dropdown {
	font-family: 'Poppins', sans-serif;
	padding-right: 6em;	
}

#quantity_options {
	border: 1.25px solid black;
	border-radius: 5px;
	font-family: 'Poppins', sans-serif;
}

/* Icons */
.icon {
    height: auto;
    width: 40px;
}

/* Indented */
.indented_one_tab {
	margin-left: 1em;
}

.page_header {
	margin-left: 2em;
}

/* Items on Product Browsing Page */

#items {
	align-items: center;
	display: block;	
  	margin-left: auto;
  	margin-right: auto;
  	padding-bottom: 2em;
	vertical-align: top /* so all figures are vertically aligned at the top*/
  	width: 95%;
}

#items figure {
	margin-left: 5em;
	margin-right: 5em;
	max-width: 100%;
}

/* Main Picture on Home */

#home-pic {
	align-items: center;
	display: block;
	height: 100%;
  	margin-left: auto;
  	margin-right: auto;
  	padding-bottom: 2em;
  	width: 95%;
}

/* Order Button */

#order-button {
	align-items: center;
	background-color: #7C3F2C; 
  	border: none;
  	border-radius: 5px;
  	color: white;
	display: block;
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
  	font-size: 16px;
  	margin-left: auto;
  	margin-right: auto;
  	padding: 0.5em;
  	padding-bottom: 2em;
  	text-align: center;
  	text-decoration: none;
  	width: 10%;
}

/* Product Details */

#first_glaze {
	margin-left: 3.7em;
}

#first_quantity {
	margin-left: 2em;
}

#glaze_second_row {
	margin-left: 13.2em;
}

#price {
	font-weight: 600;
}

#product_details img {
	margin-left: 1em;
}

#product_details p {
	font-size: 22px;
	margin-left: 4em;
}

.product_details_and_image {
	display: flex;
}


#product_detail_image {
	display: block;
	margin-left: 4.5em;
	padding-bottom: 2em;
  	width: 40%;
}

.glaze_button {
	align-items: center;
	background-color: #EEEBE9; 
  	border-color: black; 
  	border-radius: 5px;
  	color: black;
	display: block;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
  	font-size: 16px;
  	margin: 10px;
  	text-align: center;
  	text-decoration: none;
  	height: 10%;

}

.product_detail_info {
	align-items: center;
	display: flex;	
}

.quantity_button {
	font-size: 30px;
	background-color: white; 
	display:block;
  	height: 50px;
  	width: 50px;
  	border-radius: 50%;
  	margin-right: 0.75em;

}

/* Sections on Home */

#browse-categories {
	vertical-align: top /* so all figures are vertically aligned at the top*/
}


#previous-orders {
	vertical-align: top /* so all figures are vertically aligned at the top*/
}

/* Top Row */

.title {
	color: #7C3F2C;
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
	font-size: 2.25em;
	padding-right: 5em;
	text-decoration: none;
	
}

.title a {
	color: #7C3F2C;
	text-decoration: none;
}

#topbar {
	align-items: center;
	display: flex;
	padding: 3em 1em;
}

#title-image {
	padding-right: 1em;
	height: 100%;
	width: 100%;

}

/* Built-In */

figcaption {
	caption-side:bottom;
	display: inline-block;
	font-family: 'Poppins', sans-serif;
	max-width: 100%;
}

figure {
    display: inline-block;
    max-width: 15%; 
    text-align: center;  
}

hr {
	border-top: dotted 2px;
	width: 95%;
}


h2 {
	padding: 1.2em;
	color: #7C3F2C;
	font-family: 'Poppins', sans-serif;
  	font-size: 25px;
  	font-weight: 800;
}

nav {
	padding-left: 5px;
	align-items: center;
	display: flex;
}

nav a {
	text-decoration: none;
}

nav a:visited {
	color: black;
}

nav ul {
	list-style-type: none;
 	margin: 0;
 	padding: 0;
}

nav li {
	display: inline;
	font-family: 'Poppins', sans-serif;
	font-size: 1.15em;
	padding: 1em 1.5em;	
}

p {
	font-family: 'Poppins', sans-serif;
}


