.horizontal_dotted_line{
  border-bottom: 1px dotted;
  width: 100%;
} 

.icon {
	width: 40px;
    height: auto;
}

.title {
	color: #7C3F2C;
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
	font-size: 2.25em;
	text-decoration: none;
	padding-right: 5em;
	
}

.title a {
	color: #7C3F2C;;
	text-decoration: none;
}

#home-pic {
	display: block;
	align-items: center;
  	margin-left: auto;
  	margin-right: auto;
  	width: 95%;
  	padding-bottom: 2em;
 
}

#topbar {
	display: flex;
	align-items: center;
	padding: 3em 1em;

}

#title-image {
	padding-right: 1em;
}

#title-text {

}

button {
	display: block;
	align-items: center;
  	margin-left: auto;
  	margin-right: auto;
  	width: 10%;

  	background-color: #7C3F2C; 
  	border: none;
  	border-radius: 5px;
  	color: white;
  	font-family: 'Poppins', sans-serif;
	font-weight: 800;
  	font-size: 40px;
  	text-align: center;
  	text-decoration: none;
	font-size: 16px;
	padding: 0.5em;
}

nav {
	padding-left: 125px;
}

nav ul {
	list-style-type: none;
 	margin: 0;
 	padding: 0;
}

nav li {
	display: inline;
	padding: 1em 1.5em;
	font-family: 'Poppins', sans-serif;
	font-size: 1.15em;
}