.title {
	color: #7C3F2C;
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
	font-size: 2em;
	margin: 0 0 2.5em 0;
	display: inline-block;
	text-decoration: none;
	position: relative;
	vertical-align: baseline;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	padding-top: 10%;
}

.title a {
	color: #7C3F2C;;
	text-decoration: none;
}

#title-image {
	padding-right: 1em;
}

#title-text {

}

#home-pic {
	align-content: center;
}

nav ul {
	list-style-type: none;
 	margin: 0;
 	padding: 0;
}

nav li {
	display: inline;
}