.icon {
	width: 40px;
    height: auto;
}


.title {
	color: #7C3F2C;
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
	font-size: 2.25em;
	text-decoration: none;
	padding-right: 5em;
	
}

.title a {
	color: #7C3F2C;
	text-decoration: none;
}


.product_details_and_image {
	display: flex;
}

.product_detail_info {
	display: flex;
	align-items: center;
}

#back {
	display: flex;
	align-items: center;
}

#back-icon {
	margin-left: 40px;
	margin-right: 1em;
}

#back-text {
	font-size: 20px;
}

#back-text a {
	text-decoration: none;
}

#back-text a:visited {
	text-decoration: none;
	color: black;
}

#browse-categories {
	vertical-align: top /* so all figures are vertically aligned at the top*/
}

#cart-image{
	padding-left: 1.5em;
}

#home-pic {
	display: block;
	align-items: center;
  	margin-left: auto;
  	margin-right: auto;
  	width: 95%;
  	padding-bottom: 2em;
 
}



#glazing_dropdown {
	padding-right: 6em;
	font-family: 'Poppins', sans-serif;
}

#glazing_options {
	font-family: 'Poppins', sans-serif;
	border: 1.25px solid black;
	border-radius: 5px;
}

#items {
	display: block;
	align-items: center;
  	margin-left: auto;
  	margin-right: auto;
  	width: 95%;
  	padding-bottom: 2em;
	vertical-align: top /* so all figures are vertically aligned at the top*/
}

#items figure {
	max-width: 100%;
	margin-left: 5em;
	margin-right: 5em;
}


#items img {
	left-margin: 5em;
}

#first_glaze {
	margin-left: 3.7em;
}

#first_quantity {
	margin-left: 2em;
}

#glaze_second_row {
	margin-left: 13.2em;
}


#locations_dropdown {
	float: right;
	padding-right: 6em;
	font-family: 'Poppins', sans-serif;
}

#locations_options {
	font-family: 'Poppins', sans-serif;
	border: 1.25px solid black;
	border-radius: 5px;
}


#order-button {
	padding-bottom: 2em
}

.page_header {
	margin-left: 2em;
}

#price {
	font-weight: 600;
}

#product_detail_image {
	display: block;
	align-items: left;
	margin-left: 4.5em;
  	width: 40%;
  	padding-bottom: 2em;
 
}

#product_details img {
	margin-left: 1em;
}

#product_details p {
	margin-left: 4em;
	font-size: 22px;
}

#quantity_dropdown {
	padding-right: 6em;
	font-family: 'Poppins', sans-serif;
}

#quantity_options {
	font-family: 'Poppins', sans-serif;
	border: 1.25px solid black;
	border-radius: 5px;
}

#topbar {
	display: flex;
	align-items: center;
	padding: 3em 1em;

}

#title-image {
	padding-right: 1em;
}

#title-text {

}


#previous-orders {
	vertical-align: top /* so all figures are vertically aligned at the top*/
}

button {
	display: block;
	align-items: center;
  	margin-left: auto;
  	margin-right: auto;
  	width: 10%;

  	background-color: #7C3F2C; 
  	border: none;
  	border-radius: 5px;
  	color: white;
  	font-family: 'Poppins', sans-serif;
	font-weight: 800;
  	font-size: 40px;
  	text-align: center;
  	text-decoration: none;
	font-size: 16px;
	padding: 0.5em;
}

figcaption {
	font-family: 'Poppins', sans-serif;
	display: inline-block;
	max-width: 100%;
	caption-side:bottom;

}

figure {
    display: inline-block;
    max-width: 15%; 
    text-align: center;  
}

hr {
	border-top: dotted 2px;
	width: 95%;
}


h2 {
	padding: 1.2em;
	color: #7C3F2C;
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
  	font-size: 25px;
}

nav {
	padding-left: 50px;
}

nav a {
	text-decoration: none;
}

nav a:visited {
	color: black;
}

nav ul {
	list-style-type: none;
 	margin: 0;
 	padding: 0;
}

nav li {
	display: inline;
	padding: 1em 1.5em;
	font-family: 'Poppins', sans-serif;
	font-size: 1.15em;
}

p {
	font-family: 'Poppins', sans-serif;
}


